* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
  background-image: url('/back.jpg');
  background-position: center center;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
