.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  text-align: center;
  transition: 1s;
  z-index: 1;
  white-space: nowrap;
}

.input.centered {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.input > h1 {
  margin: 0 0 10px 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 24px;
}

.input > input {
  margin-left: 8px;
  cursor: pointer;
}

.timeleft {
  font-size: 64px;
  font-weight: 700;
}

.timeleft > div > span {
  font-size: 32px;
  border-radius: 4px;
  font-weight: 400;
}

.ago {
  margin-left: 8px;
}

.timeleft > div {
  display: inline-block;
  position: relative;
}

.progress {
  position: absolute;
  width: 2px;
  background: #ddd;
  right: 8px;
  bottom: 60px;
  height: 100px;
  transform: rotateX(180deg);
}

.progress > div {
  background: #000;
}

.center {
  text-align: center;
  position: relative;
  transition: 1s;
}

.center.hidden {
  opacity: 0;
}

.below {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  white-space: nowrap;
}

.below > h1 {
  color: #999;
  font-size: 16px;
  margin: 16px 0;
}

.below > p {
  margin: 4px 0;
}

@media (max-width: 576px) {
  .timeleft {
    font-size: 48px;
  }
  .timeleft > div > span {
    font-size: 24px;
  }
  .progress {
    bottom: 45px;
    right: 7px;
  }
  .below > h1 {
    margin-top: 0;
  }
}
