.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.timeleft {
  font-size: 64px;
  font-family: 'Roboto Mono', monospace;
}

.timeleft > span {
  font-size: 32px;
}

.timeleft > span:nth-of-type(1) {
  animation: fade 86400s linear infinite;
}

.timeleft > span:nth-of-type(2) {
  animation: fade 3600s linear infinite;
}

.timeleft > span:nth-of-type(3) {
  animation: fade 60s linear infinite;
}

.timeleft > span:nth-of-type(4) {
  animation: fade 1s linear infinite;
}

@keyframes fade {
  0% {
    background: blue;
  }
  90% {
    background: transparent;
  }
}

.center {
  text-align: center;
  position: relative;
}

.below {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  white-space: nowrap;
}

.below > h1 {
  color: #999;
  font-size: 16px;
}
